.corousel-container {
  height: 200px;
  display: grid;
  grid-template-columns: 2% 30% 55% 2%;
  grid-gap: 25px;
  align-items: center;
  padding-top: 50px;
  padding-left: 80px;
}

.corouselImgInfo {
  align-self: flex-start;
  padding-top: 20px;
}
